.banner {
  margin-top: 10px;
    text-align: center;
    width: 100%;
    color: white;
    background: rgb(30, 33, 36);
    border-radius: 15px;
  }
  
  .banner h1 {
    font-weight: bold;
    font-style: italic;
    margin-bottom: 15px;
    color: white;
  }